@font-face {
  src: url(../../fonts/BOERT___.ttf);
  font-family: Tudor;
}

.queenContainers
{
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
  margin-left: 50px;
  /* align-items: center; */
}

.queenColumn {
  padding-left: 40px;
  padding-right: 40px;
  width: 40%;
  margin: 20px;
  /* border: 2px palevioletred solid;  */
  transition: 0.3s;
}

.infoContainer
{
  padding-left: 35px;
}
.pageTitle{
  font-family: Tudor;
  font-size: 2rem;
  font-weight: normal;
}
.portraitContainer
{
  align-items: center;
}
.portraitQueen:hover{
  filter: grayscale(100%);
}

.portraitQueen{
  height: 450px;
  width: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portrayalContainer
{
  width: 110%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

}
.imagePortrayal{
  margin-top: px;
  height: 500px;
  width: 250px;
  object-fit: cover;  
}

.bioContainer
{
  width: 100%;
}
