@font-face {
  src: url(./../fonts/BOERT___.ttf);
  font-family: Tudor;
}

html {
  background-color: black;
  color: white;
  box-sizing: border-box;
  overflow-y: scroll;
}


body {
    width: 100%;
    overflow: hidden;
    margin: 0;
}
  
p, label, input{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}


a{
  text-decoration: none;
  color:rgb(234, 196, 139);
  font-size: 1.1rem;
  transition: color 0.2s ease;
}


form{
  display: grid;
  grid-template-columns: 150px 0.8fr;
}
label {
  color: black;
  font-size: 1.2rem;
}
input, textarea{
  background-color:black;
  font-family: 'Times New Roman', Times, serif;
  padding:10px;
  width: 80vh;
  margin-bottom: 10px;
  border: solid 2px white;
  font-size: 1.1rem;
  color:rgb(234, 196, 139);
}

button{
  margin-top: 10px;
  grid-column: 1/ span 2;
  background-color: black;
  color: rgb(234, 196, 139);
  border: solid 2px white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}
 



  .nav {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 196, 139);
    margin-bottom: 20px;
    border-bottom: double black 15px;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  

  
  .nav-link-text {
    color: black;
    font-size: 1.5em;
    transition: color 0.2s ease;
  }
  
  .nav-link-text:hover {
    text-decoration: underline;
    color: #d24242;
    font-weight: bold;
  }


.siteTitleNav {
    font-family: Tudor;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
    display: flex;
  }
  
.roseTudor, .roseLancaster, .roseYork{
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
.roseTudor{
  background-image: url("../images/RoseTU.png");
}
.roseLancaster{
  background-image: url("../images/RoseLA.png");
}
.roseYork{
  background-image: url("../images/RoseYO.png");
}




  
  .nav-link-item {
    padding-left: 2rem;
  } 